<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.postku.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".fragment.pos.QrisActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".fragment.pos.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.pos.DetailOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.product.stok.DetailStockActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.product.menu.ManageMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.toko.DetailTokoActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.riwayat.DetailTransaksiActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.SelectOutletActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.BeginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actvity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>