<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.postku.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <activity android:name=".fragment.report.ReportDiskonActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".fragment.absensi.DetailAbsenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.absensi.AbsenStaffActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.report.RankingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.ArtikelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.profil.EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.profil.DataBankActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.profil.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.ppob.RiwayatPpobActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.wallet.RiwayatTopupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.ppob.ResultTransaksiActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.ppob.TransPpobActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.wallet.RiwayatPayActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.wallet.TopupPendingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.wallet.PilihChannelActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.wallet.KonfirmasiTopupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.ppob.PpobProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.ppob.PpobKategoriActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.wallet.TopUpSaldoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.setting.PrinterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.report.ReportRankingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.plus.PostkuPlusActivity"
            android:theme="@style/AppThemePlus.NoActionBar" />
        <activity
            android:name=".actvity.qris.DetailClaimActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.qris.HistoryClaimActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.qris.HomeQrisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.pos.SelectTableActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.pegawai.ManageStaffActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.wallet.ActivatedWalletActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.wallet.WalletActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.DetailWebActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.pos.ResultTransactionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.pos.PesananActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.pos.QrisActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.pos.PaymentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.pos.DetailOrderActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.product.stok.DetailStockActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.product.menu.ManageMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.toko.DetailTokoActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".fragment.riwayat.DetailTransaksiActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.SelectOutletActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.BeginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actvity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actvity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>